<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">
      Generali fit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="card">
      <img src="/assets/generali.png" />
      <ion-card-content>
        <p> Bienvenido a la app para consultar tus estadísticas vitales.</p>
        <p>Intenta tener una vida saludable para obtener descuentos con tu seguro de Generali!</p>
      </ion-card-content>
    </ion-card>

    <ion-list lines="none">
      <ion-list-header>
        <h3>Mi día</h3>
      </ion-list-header>

      <ion-progress-bar></ion-progress-bar>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="heart-empty"></ion-icon>
        <h4>Pulsaciones</h4>
      </ion-item>
        <p style="text-align: center">94 PPM</p>
        <ion-progress-bar></ion-progress-bar>

      <ion-item>
        <ion-icon slot="start" color="medium" name="walk"></ion-icon>
        <h4>Pasos</h4>
      </ion-item>
      <p style="text-align: center">6798 pasos</p>
      <p style="text-align: center">Objetivo: 10.000 pasos</p>
      <ion-progress-bar></ion-progress-bar>

      <ion-item>
        <ion-icon slot="start" color="medium" name="moon"></ion-icon>
        <h4>Sueño</h4>
      </ion-item>
      
     
      <button ion-button (click)="showChartSuenoMiDia ()">
          Ver estadísticas
        </button>
      
        <div id="chart_SuenoMiDia"></div>
        <ion-progress-bar></ion-progress-bar>

       
       









      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="pizza"></ion-icon>
        <h4>Calorías</h4>
      </ion-item>

      <p style="text-align: center">578 calorías</p>
      <p style="text-align: center">Objetivo: 800 calorías</p>
      <ion-progress-bar></ion-progress-bar>

    </ion-list>
</ion-content>
